{{> logout}}
{{> weheartshrimps}}

<section>
    <p>We undersigned to rescue shrimps from ending in shrimp-cocktails!</p>
</section>

{{#if inputError}}
{{> error}}
{{/if}}

<ul>
    {{#each signers}}
        <li>
            {{#if homepage}}
                <a href="http://{{homepage}}" target="_blank">{{first}} {{last}}</a>
            {{else}}
                {{first}} {{last}}
            {{/if}}

            {{#if age}}
               ({{age}}{{#if city}}, <a href="/signers/{{city}}">{{city}}</a>{{/if}})
                    {{else if city}}
              (<a href="/signers/{{city}}">{{city}}</a>)
            {{/if}}
        </li>
    {{/each}}
</ul>
