{{> logout}}
{{> weheartshrimps}}

<section>
    <p>We undersigned to rescue shrimps from ending in shrimp-cocktails!</p>
</section>

<ul>
    {{#each signers}}
        <li>
            {{#if homepage}}
                <a href="http://{{homepage}}" target="_blank">{{first}} {{last}}</a>
            {{else}}
                {{first}} {{last}}
            {{/if}}

            {{#if age}}
               ({{age}}{{#if city}}, {{city}}{{/if}})
                    {{else if city}}
              ({{this.city}})
            {{/if}}
        </li>
    {{/each}}
</ul>
